{% load static %}

<style>
  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: -1px;
  }

  #otherprojects-div, hr {
    margin: 20px;
  }

  .otherprojects {
    font-size: 1.1em;
    text-align: center;
  }
</style>

<footer>
    <br>
    <br>
    <hr>
<div id="otherprojects-div">
  <p class="otherprojects">Check out my homepage and some of my other projects:</p>
</div>
<hr>
<div class="social-icons">
  <div><p class="otherprojects">Homepage: <a href="https://astral-weeks.github.io/" id="profile-link" class="profile-link" target="_blank">
      AstralWeeks</a></p></div>
      <div><p class="otherprojects">Github: <a href="https://github.com/Astral-Weeks" class="profile-link" target="_blank">
      Git<i class="fab fa-github"></i></a></p></div>
      <div><p class="otherprojects">Frasier Quotes Fan Game: <a href="https://frasierlines.onrender.com" class="profile-link" target="_blank">
      FrasierLines</a></p></div>
      <div><p class="otherprojects">Roman Numerals: <a href="https://roman-numeral-calculator.onrender.com/" class="profile-link" target="_blank">
        Calculator</a></p></div>
</div>
<br>
<p>icons used from icon8.com</p>
<br>
</footer>